.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: 18px;
  color: white;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}

.form-item {
  padding: 1rem;
}

a {
  color: white;
}
